

.page-404-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.page-404-container div{
  color:rgb(250, 25, 25);
  font-size: 18px;
  font-weight: bold;
}